#cadastro .header-principal {
  position: static;
}

.area-cadastro {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 100px;
}

.area-cadastro .subtitulo {
  text-align: center;
  margin-bottom: 40px;
}

.area-cadastro .subtitulo:after {
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  max-width: 250px;
}

.form label {
  display: block;
  color: var(--light);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 5px;
  cursor: pointer;
}
.form label:nth-child(odd) {
  margin-top: 20px;
}

.form label:first-child {
  margin-top: 30px;
}

.form input,
select {
  display: block;
  width: 100%;
  background: none;
  border: 1px solid var(--light);
  border-radius: 8px;
  outline: none;
  color: var(--light);
  padding: 6px 10px;
}

.form button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 25px;
  padding: 6px 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.info-pessoal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-pessoal select {
  flex: 30%;
  color: var(--secondary-color);
}

.info-pessoal input {
  flex: 70%;
}

/*footer */
.footer-bottom {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: var(--secondary-color);
}

.footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-redes i:hover {
  color: var(--verde);
}
