/* 
** Limpando formatações
*/

*{
	padding: 0px;
	margin: 0px;
}

@font-face {
	font: 'ubuntu';
	src: url(../font/Ubuntu-Regular.woff) ;
}

@font-face {
	font: 'roboto';
	src: url(../font/Roboto-Light.woff) ;
}


body{
	color: #ffffff;
	font-family: ubuntu;
}

/*
** Formatação layout
*/

#container {
	width: 100%;
	height: 100%;
}



#topo {
	width: 100%;
	height:150px;
	line-height: 3.5em;
	font-size: 2.5em;
	font-weight: 8;
	text-align: center;
	background: rgb(11, 77, 155);
}
#area-primaria{
	width: 17%; /* 200px - > 17% */
	height: 100%;
	background: rgb(8, 103, 184);
	border: 1px solid red;
	float: left;
}

#area-principal {
	width: 100%;
	background: #ffffff;
	color: rgb(66, 66, 66);
	border: 1px solid yellow;
	position: relative;
	float: left;
}
#area-titulo-conteudo {
	height: 71px;
	border-bottom: 1px solid rgb(8, 103, 184); 
	color: rgb(8, 103, 184);
	line-height: 70px;
}


#rodape-area-conteudo{

}

/*
** Formatação em geral
*/
.quadrado{
	width: 20%;
	height: 20%;
	margin-top: 5%;
	margin-left: 3%;
	border-radius: 10px;
	float: left;
	color: #ffffff;
	text-align: center;
	line-height: 200px;

}


.quadrado:hover {
	padding: 10px;
	transition: 0.4s;
}
.amarelo{
	background: #F1C40F;
}
.verde {
	background: #186A3B;

}
.vermelho {
	background: #C0392B;
}
.roxo {
	background: #8E44AD;
}


#home ul li a.home,
#sensor ul li a.sensor,
#atuadores ul li a.atuadores,
#sobre ul li a.sobre {
	background: rgba(2, 140, 253, 0.548);
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}


