/* 
** Limpando formatações
*/
*{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: Roboto,-apple-system,
				 BlinkMacSystemFont,Segoe UI,
				 Roboto,Oxygen,Ubuntu,Cantarell,
				 Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	color: #ffffff;
}


/*
** Formatação layout
*/
#topo {
	height: 170px;
	width: 100%;
	font-size: 2.5em;
	font-weight: 8;
	text-align: center;
	background: rgb(11, 77, 155);
}
#container {
	width: 78%;
	min-width: 1000px;
	height: 670px;
	border-radius: 4px;
	margin: -71px auto;
	box-shadow: rgba(0, 0, 0, 0.25) 4px 4px;
}
#area-esquerda{
	width: 17%; /* 200px - > 17% */
	height: 670px;
	background: rgb(8, 103, 184);
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	float: left;
	position: relative;
	border-radius: 4px 0px 0px 4px;
}
#area-usuario {
	height: 71px;
	border-bottom: 1px solid #000000;
	background-size: 70px;
}
#conteudo {
	width: 83%;
	background: #ffffff;
	color: rgb(66, 66, 66);
	border-radius: 0px 4px 4px 0px;
	font: 14px;
	position: relative;
	float: left;
}
#area-titulo-conteudo {
	height: 71px;
	border-bottom: 1px solid rgb(8, 103, 184); 
	color: rgb(8, 103, 184);
	line-height: 70px;
}

#rodape-area-esquerda{
	width: 98%;
	height: 50px;
	padding: 1%;
	border-top: 1px solid #ffffff;
	position: absolute;
	top: 620px;
}
#rodape-area-conteudo{
	width: 99%;
	height: 100%;
	padding-left: 1%;
	height: 50px;
	background: rgb(0, 0, 0, 0.05);
	border-radius: 0px 0px 4px 0px;
	border-top: 1px solid rgb(8, 103, 184);
	color: rgba(0, 0, 0, 0.30);
	position: absolute;
	top: 620px;
	clear: both;
}

/*
** Formatação em geral
*/
.quadrado{
	width: 20%;
	height: 20%;
	margin-top: 5%;
	margin-left: 3%;
	border-radius: 10px;
	float: left;
	color: #ffffff;
	text-align: center;
	line-height: 200px;

}

.tipo-adm {
	font-size: 10px;
}
.nome-usuario {
	line-height: 50px;
	font-size: 20px;
}

.title-quadrado {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	line-height: 0px;
}
.quadrado:hover {
	padding: 10px;
	transition: 0.4s;
}
.amarelo{
	background: #F1C40F;
}
.verde {
	background: #186A3B;

}
.vermelho {
	background: #C0392B;
}
.roxo {
	background: #8E44AD;
}
#area-menu li{	
	padding: 10px;
}

#area-menu a:hover{	
	padding-left: 20px;
}

#area-esquerda ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 50px;
	color: #ffffff;
	font-size: 20px;
	box-sizing: border-box;
}

#home ul li a.home,
#sensor ul li a.sensor,
#atuadores ul li a.atuadores,
#sobre ul li a.sobre {
	background: rgba(2, 140, 253, 0.548);
}

#area-menu li a {
	border-bottom: 1px solid white;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#rodape-area-conteudo span{
	float: right;
	color: rgb(8, 103, 184);
}
#area-esquerda li img {	
	position: relative;
	top: 5px;
	width: 15%;
	height: 15%;
}

#area-usuario ul li img{
	float: left;
	position: relative;
	top: 1px;
	left: 10px;
	height: 30%;
	width: 35%;
}



h2{
	padding-left: 3%; 
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}
p, form {
	padding-left: 3%;
	padding-top: 1%;
}

fieldset {
	text-align: left;
	width: 500px;
	border: none;

}
input, textarea{
	width: 400px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}


