/* 
** Limpando formatações
*/

*{
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
}

body{
	color: #ffffff;
	font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
}
/*
** Formatação layout
*/


#container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* 
Formatando topo
*/
#topo {
	width: 93%;
	height: 8%;
	padding: 0 3.5%;
	font-size: 1.3em;
	text-align: left;
	position: relative;
	background:  #22142b;	
}

#area-usuario {
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

#area-usuario ul {
	height: 100%;
}

#area-usuario ul li {
	float: left;
	padding: 0 20px;
	text-align: center;
}

.icons {
	color: #ffffff;
}

#area-usuario li a{
	line-height: 63px;
}

ul{
	list-style-type: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/* 
Formatando menu lateral 
*/

#area-secundaria {
	width: 17%;
	height: 92%;
	float: left;
	font-size: 1.1em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	background: rgb(11, 77, 155);
}
#area-secundaria ul {
	padding-top: 53px;
}

#area-secundaria ul a {
	display: block;
	line-height: 50px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff5e;
}

#area-secundaria ul li {
	margin-bottom: 10px;
}

#area-secundaria li.exit {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
}

#area-secundaria a:hover {
	padding-left: 40px;
	transition: 0.4s;
	background: rgba(5, 1, 255, 0.247);
}



/* 
Formatando erea principal
*/


#area-principal {
	width: 83%;
	height: 92%;
	float: left;
	background:rgb(8, 103, 184);
}

#conteudo{
	height: 98%;
	overflow: auto;
}

#area-titulo-conteudo h2 {
	padding: 10px;
	border-bottom: 1px solid #ffffff46 ;
	text-transform: uppercase;
}



/*
** Formatação em geral
*/
.quadrado{
	width: 300px;
	height: 300px;
	margin: 8px;
	margin-right: 0;
	border-radius: 10px;
	background: white;
	color: rgb(8, 103, 184);
	float: left;
	text-align: center;
}

.grafico {
	width: 608px;
	height: 300px;
	margin: 8px;
	margin-right: 0;
	border-radius: 10px;
	background: white;
	color: rgb(8, 103, 184);
	float: left;
	text-align: center;
}

#home ul li a.home,
#sensor ul li a.sensor,
#atuadores ul li a.atuadores,
#sobre ul li a.sobre {
	background: rgb(255, 255, 255);
	color: #000000;
}




