.area-login {
  padding: 60px 0;
  background: url(../img/bg_dashboard_nklg.svg) no-repeat center center;
}

a.form-link {
  font-size: 14px;
  margin-left: 57%;
  color: var(--primary-color);
}
a.form-link:hover {
  color: var(--text-light);
  transition: all 0.4s;
}