/*Smal devices*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .area-main {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .box {
    min-width: 496px;
    max-width: 767.98px;
  }
}

/*medium devices*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .area-main {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .box {
    max-width: 500px;
    margin: 0 10px;
  }
}

/*Larger devices*/
@media (min-width: 992px) {
  .header-principal {
    width: 10%;
    height: 100%;
    background: var(--marron);
    padding: 20px 0;
  }

  .brand img {
    margin: 0 auto;
    padding-left: 0;
  }
  

  .navbar {
    position: static;
    padding-top: 40px;
    border-top: none;
  }

  .navbar-nav {
    display: block;
  }

  .area-main {
    width: 86%;
    padding: 20px;
  }

  .area-main nav {
    position: static;
  }
  
}

