:root {
  --preto: #232729;
  --roxo: #6c63ff;
  --branco: #f9f9f9;

  --primary-color: var(--roxo);
  --secondary-color: var(--preto);
  --text-light: var(--branco);
}

/* Formataçõe geral */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--secondary-color);
}

.subtitulo {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  max-width: 324px;
  text-transform: uppercase;
  color: var(--text-light);
  margin: 0 auto;
  text-align: center;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 100px;
  height: 10px;
  background: var(--text-light);
  border-radius: 10px;
  margin: 5px auto 0 auto;
}

.btn {
  padding: 10px 15px;
  background: var(--primary-color);
  color: var(--text-light);
  border-radius: 10px;
  font-size: 18px;
}

.btn:hover {
  background: var(--text-light);
  color: var(--primary-color);
  transition: all 0.8s;
}

/*formatação top */
.header-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.marca img {
  width: 150px;
  height: 27px;
}

/* Formatação area-login */

.form {
  margin: 0 auto;
  max-width: 250px;
}

.form label {
  display: block;
  color: var(--text-light);
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin-bottom: 5px;
  cursor: pointer;
}
.form label:nth-child(odd) {
  margin-top: 20px;
}

.form label:first-child {
  margin-top: 30px;
}

.form input {
  display: block;
  width: 100%;
  background: none;
  border: 3px solid var(--primary-color);
  border-radius: 10px;
  outline: none;
  color: var(--text-light);
  padding: 6px 10px;
}

a.form-link {
  font-size: 14px;
  margin-left: 57%;
  color: var(--primary-color);
}
a.form-link:hover {
  color: var(--text-light);
  transition: all 0.4s;
}

.form button {
  display: block;
  width: 100%;
  border: none;
  margin-top: 20px;
  padding: 10px 0;
  cursor: pointer;
}

/*Formatação rodape*/
.footer-principal {
  width: 100%;
  padding: 10px 0;
  background: var(--primary-color);
  position: absolute;
  bottom: 0;
}

.footer-principal .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-principal p {
  font-size: 14px;
  color: var(--text-light);
  line-height: 27px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 20px;
}

.lista-redes i {
  color: var(--text-light);
  font-size: 18px;
}

.lista-redes i:hover {
  color: var(--secondary-color);
  font-size: 18px;
}
