:root {
  --preto: #232729;
  --roxo: #6C63FF;


  --primary-color: var(roxo);
  --secondary-color: var(--preto)
}

/* Formataçõe geral */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: var(--secondary-color);
}



/* Formatação padrão */

/*Formatação TOP*/

/*Editando title */
