:root {
  --preto: #0a0d11;
  --roxo: #6c63ff;
  --branco: #eef0fa;
  --verde: #0091d7;
  --primary-color: var(--roxo);
  --secondary-color: var(--preto);
  --light: var(--branco);
}

/* Formataçõe geral */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--primary-color);
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-size: 14px;
  line-height: 28px;
}

.subtitulo {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  text-transform: none;
  color: var(--light);
  text-align: left;
  text-transform: uppercase;
}

.subtitulo:after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background: var(--light);
  border-radius: 10px;
  margin: 0px 0 20px 0;
}

.subitulo-green {
  color: var(--verde);
}

.subitulo-green:after {
  background: var(--verde);
}

.btn {
  padding: 10px 15px;
  line-height: 30px;
  background: var(--verde);
  color: var(--light);
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

.btn-outline {
  background: none;
  border: 1px solid var(--light);
}

.btn:hover {
  background: var(--light);
  color: var(--verde);
  transition: all 0.8s;
}

.btn-outline:hover {
  color: var(--primary-color);
}



