/* 
** Limpando formatações
*/

*{
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
}

body{
	font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
	color: rgb(0, 0, 0);
	background: #007ABE;
	box-sizing: border-box;
}
/*
** Formatação layout
*/

#container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom,#001D5F, #0b4d9b, #007ABE);
	border-radius: 0 0 100% 100%;
}

/* 
Formatando Header 
*/
header {
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
	width: 100%;
	height: 8%;
	
	background:  #001D5F;	
	color: #ffffff;
	border-bottom: 1px solid rgba(11, 76, 155, 0.534);
    
}

form#form-login {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

form#form-login div {
	width: 150px;
	height: 25px;
	margin-right: 20px;
	border-radius: 10px;
	border: 1px solid rgba(32, 47, 83, 0.341);
}

input {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-left: 10px;
	border: none;
	border-radius: 5px;
}

form#form-login div #login {
	padding: 0;
	background: #0b4d9b;
	color: #ffffff;
}

form#form-login label {
	height: 10px;
}

form#form-login div #login:hover {
	background: #007ABE;
}

/* 
Formatando area principal
*/
article {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 92%;
	padding: 0 20px;
	background: transparent;
	color: #ffffff;
}

/* 
Formatando area sobre
*/

section#area-sobre {
	box-sizing: border-box;
	padding: 0 20px;
	width: 600px;
	height: 500px;
}
section#area-sobre h2 {
	margin-bottom: 15px;
	font-size: 2em;
}

section#area-sobre p {
	text-align: justify;
	margin-bottom: 10px;
	
}

/* 
Formatando area cadastro
*/

section#area-cadastrar {
	position: absolute;
	right: 17.2%;
	height: 500px;
	width: 400px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	
	box-sizing: border-box;
	background: rgba(0, 29, 95, 0.541);
	color: #ffffff;
	border-radius: 20px;
}

section#area-cadastrar h2 {
	width: 100%;
	margin-bottom: 5px;
	text-align: center;
	font-size: 2em;
	color: #ffffff;
}
section#area-cadastrar p {
	margin-bottom: 20px;
}

form label a {
	text-decoration: none;
	color: #ffffff;
}


form#form-cadastrar div {
	flex: 1, 2, 360px;
	width: 360px;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.area-termos {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

#termos {
	width: 30px;
}
.area-termos label {
	margin-left: 10px;
}

form#form-cadastrar input#cadastro {
	width: 100%;
	background: #0b4d9b;
	color: #ffffff;
}
form#form-cadastrar div #cadastro:hover {
	background: #007ABE;
}








