/* 
** Limpando formatações
*/

*{
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
}

body{
	color: #ffffff;
	font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
}
/*
** Formatação layout
*/


#container {
	width: 100%;
	height: 100%;
	min-width: 1000px ;
	min-height: 700px;
	margin: 0 auto;
}

/* 
Formatando topo
*/
#topo {
	box-sizing: border-box;
	width: 83%;
	height: 8%; 
	float:right;
	padding: 0;
	font-size: 20px ;
	position: relative;;
	background:  #001D5F;	
}

#area-usuario {
	width: 460px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;	
}

#area-usuario ul {
	height: 100%;
	width: 100%;
	
}

#area-usuario ul li {
	float: right;
	padding: 0 20px;
}

.user {
	padding-top: 10px;
}

#area-usuario  li a i:hover {
	color: #9BBAFF;
}

.icons {
	color: #ffffff;
}

#area-usuario li a{
	line-height: 63px;
}

ul{
	list-style-type: none;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/* 
Formatando menu lateral 
*/



#area-secundaria {
	width: 17%;
	height: 100%;
	float: left;
	font-size: 1.1em;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	background: #0b4d9b;
	
}

#titulo {
	box-sizing: border-box;
	background: #001D5F;
	width: 100%;
	height: 8%; 
	position: absolute;
	top: 0;
	font-size: 1.4em;
	letter-spacing: 5px;
}

#titulo h1 {
	width: 100%;
	height: 100%;
	line-height: 0.5em;
	font-size: 1.4em;
	
}

#area-secundaria ul {
	margin-top: 42.4%;
}

#area-secundaria ul a {
	display: block;
	line-height: 50px;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid rgba(255, 255, 255, 0.452);
}

#area-secundaria ul li {
	margin-bottom: 10px;
	
}

#area-secundaria li.exit {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin: 0;
}

#area-secundaria a:hover {
	padding-left: 40px;
	background: #001D5F;
	transition: all 0.8s ;
}

#home ul li a.home,
#sensor ul li a.sensor,
#atuadores ul li a.atuadores,
#sobre ul li a.sobre, 

#home ul li a.home i,
#sensor ul li a.sensor i,
#atuadores ul li a.atuadores i,
#sobre ul li a.sobre i {
	background: #E7EFFF;
	color: #000000;
}


/* 
Formatando erea principal
*/


#area-principal {
	width: 83%;
	height: 92%;
	float: left;
	background:#007ABE;
}

#conteudo{
	height: 100%;
	overflow: auto;
}

#area-titulo-conteudo h2 {
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.452);
	text-transform: uppercase;
}

/*
** Formatação em geral
*/
.quadrado{
	width: 300px;
	height: 300px;
	margin: 8px;
	margin-right: 0;
	border-radius: 10px;
	background: #ffffff;
	color: rgb(8, 103, 184);
	float: left;
	text-align: center;
}

.grafico {
	width: 608px;
	height: 300px;
	margin: 8px;
	margin-right: 0;
	border-radius: 10px;
	background: white;
	color: rgb(8, 103, 184);
	float: left;
	text-align: center;
}





