* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}
body {
	font-family: 'Segoe UI',SegoeUI,'Segoe WP',Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    
}

/* Formatação padrão */

a {
    color: #ffffff;
    text-decoration: none;
}

li > a:hover {
    color: #fff;
    background-color: #926995;
    transition: all 0.4s;
}

ul {
    list-style: none;
}
/*Formatação TOP*/
#topo {
    flex: 100%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0 16px;
    background:  #791088;	
}

#title-header {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6em;
    
}

.list-nav-user{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.list-nav-user li{
    position: relative;
    margin-right: 15px;
    
}

/*Menu dropdwon*/

.dropdown-icon-user {
    position: absolute;
    right: 0;
    top: 35px;
    background: #791088;
    display: none;
}

.dropdown-icon-user li {
    margin: 0;
}

.dropdown-icon-user a{
    display: block; 
    padding: 16px;
    border-bottom: 1px solid #eaeef960;
}

.icon-user:hover .dropdown-icon-user {
    display: block;
}

/* Edição nav lateral esquerda*/
aside {
    flex: 12%;
    background: #6D81AD;
    font-size: 1.1em;
}

#nav-left {
    display: flex;
    flex-wrap: wrap;
}

.list-nav-left {
    flex: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list-nav-left li {
    flex: 100%;
    border-bottom: 1px solid #eaeef960;
}

.list-nav-left a {
    display: block;
    padding: 10px 16px;
    line-height: 30px;
}
/*Editando area principal */

#area-principal {
    background: #EAEEF9;
    flex: 88%;
    display: flex;
    flex-wrap: wrap;

}

.title-main {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1px solid #0b46e660;
}







